{{#with card.card}}
<div class="name">{{name}}</div>
<div class="image"></div>
<div class="type">{{type}}</div>
<div class="actions">
    {{#each action in actions}}
        <div class="action">
            {{action.value}}
        </div>
    {{/each}}
</div>
<div class="points">{{points}}</div>
<div class="cost" {{action 'purchaseCard'}}>
    <div class="value">{{cost}}</div>
</div>
{{/with}}