<div id="game-layout">
    {{#liquid-if overviewSideBarExpanded class="side-bar"}}
        <div id="overview-side-bar" class="expanded">
            <div id="overview-side-bar-toggle" {{action 'overviewSideBarToggle'}}></div>
            <div id="hoard">Main Deck</div>
            <div id="trinkets">
                <div id="kick">Kick</div>
                <div id="weakness">Weakness</div>
            </div>
            <div id="graveyard">Destroy</div>
            <div id="rivals">Rival Players</div>
        </div>
    {{else}}
        <div id="overview-side-bar" class="collapsed">
            <div id="overview-side-bar-toggle" {{action 'overviewSideBarToggle'}}></div>
        </div>
    {{/liquid-if}}

    <div id="game-content-layout">
        <div id="trove">
            <div id="villain">
                {{#each card in superVillainLineup}}
                    {{game-card card=card playerPower=playerPower purchaseCard='purchaseSuperVillainLineupCard'}}
                {{/each}}
            </div>
            <div id="chest">
                {{#each card in lineup}}
                    {{game-card card=card playerPower=playerPower purchaseCard='purchaseLineupCard'}}
                {{/each}}
            </div>
        </div>
        <div id="game-action-layout">
            <div id="lasting-player-actions">
                <div id="player-heroes">Heroes</div>
                <div id="player-locations">Locations</div>
                <div id="player-fortress">Active Cards</div>
                <div id="player-trove">Player Deck</div>
                <div id="player-discard">
                    Player Discard
                    <div>{{playerDiscardCount}}</div>
                </div>
            </div>
            <div id="dynamic-actions-layout">
                <div id="events">
                    <div>Played Cards {{playerPlayedCardsCount}}</div>
                    <div>Power {{playerPower}}</div>
                    <button {{action 'endTurn'}}>End Turn</button>
                </div>
                <div id="transient-player-actions">
                    {{#each card in playerHand}}
                        {{game-card card=card playCard='playCard'}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>